:root {
  --text-color: #c7d5e0;
  --accent-color: #66c0f4;
  --hover-color: rgba(102, 192, 244, 0.2);
  --gold-color: #00a6ff;
  --dropdown-bg: #1b283866;
  --dropdown-hover: #2a475e;
}

nav {
  position: fixed;
  display: flex;
  background: linear-gradient(90deg, #0f1722de 0%, #1b2838db 100%);
  border-radius: 0 0 50px 50px;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.home-li {
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  margin-right: auto;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.home-li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff5f;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 1rem;
}

li {
  position: relative;
  font-size: 1.2rem;
  z-index: 999 !important;
}

/* --- Dropdown --- */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

.dropdown-toggle:hover {
  color: var(--accent-color);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--dropdown-bg);
  border-radius: 8px;
  margin-top: 0.3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.2s ease-in-out;
  z-index: 999;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu .link-menu {
  display: block;
  padding: 0.8rem 1rem;
  color: var(--text-color);
  transition: background 0.3s;
}

.dropdown-menu .link-menu:hover {
  background: var(--dropdown-hover);
  color: var(--accent-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
